/********f************

    Do not alter this comment block.
	Only fill out the information below.

    Competency 12 Javascript Syntax
    Name: Luping Xing
    Date: Mar 8, 2024
    Description: Competency 12 of Assignment 6 - five quotes

*********************/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
