/********f************
	
    Do not alter this comment block. 
	Only fill out the information below.

    Competency 12
    Name: 
    Date:
    Description:

*********************/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
