body {
    margin: 0;
    padding: 0;
}

#static, #relative, #absolute, #fixed {
    width: 200px;
    height: 200px;
    background-color: #ABC;
    color: #FFF;
}

#static {
    position: static;
    left: 20px;
    top: -10px;
}

#relative {
    position: relative;
    left: 20px;
    top: -10px;
}
