/*******f*************

    Competency 13
    Name: Luping Xing
    Date: Mar 8, 2024
    Description: Assignment 6, Competency 13 - Event Listeners

*********************/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

form {
	width: 50%;
}

input[type='text'] {
	display: none;
}
